In [2]:
x = 5
if x == 10:
    print('10입니다.')

In [5]:
x = 5

if x == 10:
    print('x에 들어있는 숫자는')
    print('10입니다.')

In [7]:
a = int(input('임의 숫자 입력 :'))

if a <100:
    print('100보다 작은수')
print('프로그램 종료')

임의 숫자 입력 :50
100보다 작은수
프로그램 종료

In [12]:
x = int(input('임의 숫자 입력 :'))

if x != 20:
    print('pass')

임의 숫자 입력 :50
pass

In [19]:
a = int(input('금액을 입력하세요:'))
b = str(input('쿠폰이름을 입력하세요:'))

if b == 'sale3000':
    a -= 3000 # a = a - 3000
else:
    a -= 5000
print(a)

금액을 입력하세요:10000
쿠폰이름을 입력하세요:sale5000
5000

In [18]:
a = int(input('임의 숫자 입력 :'))

if a < 100:
    print('100보다 작은 수')
else:
    print('100보다 크거나 같은수')

임의 숫자 입력 :200
100보다 큰거나 같은수

In [22]:
x = 5
y = 20

if x == 10 or y == 20:
    print('참')
else:
    print('거짓')

참

In [24]:
written_test = 75
interview_test = True

if written_test >= 80 and interview_test == True:
    print('합격')
else:
    print('불합격')

불합격

In [26]:
a,b,c,d = map(int,input().split())

if 0 <= a <= 100 and 0 <= b <= 100 and 0 <= c <=100 and 0<=d<=100:
    avg = (a+b+c+d)/4
    if avg >= 80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수입니다.')

50 60 70 200
잘못된 점수입니다.

In [28]:
x = 2
if x == 10:
    print('10입니다.')
elif x == 20:
    print('20입니다.')
else:
    print('10도 아니고 20도 아닙니다.')

10도 아니고 20도 아닙니다.

In [29]:
button = int(input())

if button == 1:
    print('콜라')
elif button == 2:
    print('사이다')
elif button == 3:
    print('환타')
else:
    print('제공하지 않는 메뉴')

3
환타

In [30]:
print("당신의 태어난 연도를 입력하세요.")
birth_year = int(input())
age = 2022 - int(birth_year) + 1

if age <= 26 and age <= 20:
    print('대학생')
elif age < 20 and age >=17:
    print('고등학생')
elif age < 17 and age >=14:
    print('중학생')
elif age <14 and age >=8:
    print('초등학생')
else:
    print('학생이 아닙니다.')

당신의 태어난 연도를 입력하세요.
1977
학생이 아닙니다.

In [ ]:
gender = input('성별을 입력하세요(M:남자/F:여자):')
age = int(input('나이를 입력하세요 :'))

if gender == 'M' or gender == 'm':
    if age >= 40 :
        print('40대 이상 남자')
    elif age >=30 :
        print('30대 이상 남자')
    elif age >= 20:
        print('20대 이상 남자')
    else:
        print('10대 이하 남자')
esle :
    if age > = 40:
        print('40대 이상 여자')
    elif age >= 30:
        print('30대 이상 여자')
    elif age >=20:
        print('20대 이상 여자')
    else:
        print('10대 이하 여자')

In [34]:
age = int(input('탑승자의 나이를 입력하세요 :'))
card = 10000

if age >= 7 and age <= 12:
    card -= 650
elif age >= 13 and age <= 18:
    card -= 1050
elif age >= 19 and age <= 64:
    card -= 1250
else:
    card -= 0

print('남은 잔액은 %d원 입니다'%card)

탑승자의 나이를 입력하세요 :65
남은 잔액은 10000원 입니다

In [36]:
korea, english, socity = map(int,input().split())

sum = korea + english + socity
avg = sum / 3

if avg >= 90:
    grade = 'A'
elif avg >= 80:
    grade = 'B'
elif avg >=70:
    grade = "C"
else:
    grade = 'F'
    
print('총점 : %d 평균 : %5.1f 등급 : %s'%(sum,avg,grade))
print('국어 점수 : %d'%korea)
print('영어 점수 : %d'%english)
print('사회 점수 : %d'%socity)
print('등급 : %s'%grade)

50 80 80
총점 : 210 평균 :  70.0 등급 : C
국어 점수 : 50
영어 점수 : 80
사회 점수 : 80
등급 : C

In [37]:
for i in range(100):
    print('hi',i)

hi 0
hi 1
hi 2
hi 3
hi 4
hi 5
hi 6
hi 7
hi 8
hi 9
hi 10
hi 11
hi 12
hi 13
hi 14
hi 15
hi 16
hi 17
hi 18
hi 19
hi 20
hi 21
hi 22
hi 23
hi 24
hi 25
hi 26
hi 27
hi 28
hi 29
hi 30
hi 31
hi 32
hi 33
hi 34
hi 35
hi 36
hi 37
hi 38
hi 39
hi 40
hi 41
hi 42
hi 43
hi 44
hi 45
hi 46
hi 47
hi 48
hi 49
hi 50
hi 51
hi 52
hi 53
hi 54
hi 55
hi 56
hi 57
hi 58
hi 59
hi 60
hi 61
hi 62
hi 63
hi 64
hi 65
hi 66
hi 67
hi 68
hi 69
hi 70
hi 71
hi 72
hi 73
hi 74
hi 75
hi 76
hi 77
hi 78
hi 79
hi 80
hi 81
hi 82
hi 83
hi 84
hi 85
hi 86
hi 87
hi 88
hi 89
hi 90
hi 91
hi 92
hi 93
hi 94
hi 95
hi 96
hi 97
hi 98
hi 99

In [40]:
for i in range(0,10,3):
    print('for문을 공부중입니다.',i)

for문을 공부중입니다. 0
for문을 공부중입니다. 3
for문을 공부중입니다. 6
for문을 공부중입니다. 9

In [44]:
sum = 0
for i in range(1, 101,2):
    sum += i
print('1부터 10까지의 합 : %d'%sum)

1부터 10까지의 합 : 2500

In [48]:
n = int(input('몇단을 출력할건지 입력하세요 :'))

for i in range(1,10):
    print(n,'*',i,'=',n*i)
    print('%d * %d = %d'%(n,i,n*i))

몇단을 출력할건지 입력하세요 :3
3 * 1 = 3
3 * 1 = 3
3 * 2 = 6
3 * 2 = 6
3 * 3 = 9
3 * 3 = 9
3 * 4 = 12
3 * 4 = 12
3 * 5 = 15
3 * 5 = 15
3 * 6 = 18
3 * 6 = 18
3 * 7 = 21
3 * 7 = 21
3 * 8 = 24
3 * 8 = 24
3 * 9 = 27
3 * 9 = 27

In [51]:
# 1부터 10까지의 숫자중 3의 배수의 합계를 구하시오.
sum = 0

for num in range(11):
    if num % 3 == 0:
        sum += num
print('1부터 10까지의 숫자중 3의 배수값은 %d 입니다.'%sum)

1부터 10까지의 숫자중 3의 배수값은 18 입니다.

In [52]:
for i in range(0,3,1):
    for k in range(0,2,1):
        print('파이썬 중첩 (i값 : %d, k값:%d)'%(i,k))

파이썬 중첩 (i값 : 0, k값:0)
파이썬 중첩 (i값 : 0, k값:1)
파이썬 중첩 (i값 : 1, k값:0)
파이썬 중첩 (i값 : 1, k값:1)
파이썬 중첩 (i값 : 2, k값:0)
파이썬 중첩 (i값 : 2, k값:1)

In [55]:
for i in range(5):
    for j in range(5):
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [58]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end='')
    print()

*
**
***
****
*****

In [59]:
for i in range(5):
    for j in range(5):
        if j == i:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
 *
  *
   *
    *