In [4]:
korean = 92
english = 90
mathmatics = 86
science = 81
print(korean >= 80 and english >=80 and mathmatics >=80 and science >=80)

True

In [5]:
# 숫자 두개를 입력받아서 사칙연산을 출력하는 프로그램을 만드시오.

# a,b = map(int,input('숫자 두개를 입력하세요').split())
a = int(input('첫번째 숫자를 입력하세요'))
b = int(input('두번째 숫자를 입력하세요'))

print(a,'+',b,'=',a+b)
print(a,'-',b,'=',a-b)
print('%d * %d = %d'%(a,b,a*b))
print('%d / %d = %d'%(a,b,a/b))

첫번째 숫자를 입력하세요20
두번째 숫자를 입력하세요10
20 + 10 = 30
20 - 10 = 10
20 * 10 = 200
20 / 10 = 2

In [8]:
# 동전 교환기
money, c500, c100, c50, c10 = 0,0,0,0,0

money = int(input('교환할 금액을 입력하세요 :'))

c500 = money // 500 # 몫만 구한다.
money = money % 500 # 나머지만 구한다.

c100 = money // 100
money = money % 100

c50 = money // 50
money %= 50

c10 = money // 10
money %= 10

print('500원짜리->',c500)
print('100원짜리->',c100)
print('50원짜리 %d개'%c50)
print('10원짜리 %d개'%c10)
print('바꾸지 못한 잔돈 %d 원'%money)

교환할 금액을 입력하세요 :8975
500원짜리-> 17
100원짜리-> 4
50원짜리 1개
10원짜리 2개
바꾸지 못한 잔돈 5 원

In [9]:
lst_a=[1,2,3]
print(lst_a)
type(lst_a)

[1, 2, 3]

list

In [11]:
person=['홍길동',19,181.5,True]
print(person)

['홍길동', 19, 181.5, True]

In [12]:
lst_a = []
lst_b=list()

In [13]:
lst_a = list(range(10))
print(lst_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
colors = ['red','blue','green']
print(colors)
print(colors[0])
print(colors[2])
print(len(colors))

['red', 'blue', 'green']
red
green
3

In [19]:
lst_a = list(range(10))
print(lst_a[3:5])
print(lst_a)

[3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
area = ['서울','부산','인천','대구','대전','광주','울산','수원']
print(area[::2])

['서울', '인천', '대전', '울산']

In [26]:
color = ['red','blue','green']
color.append('white')
print(color)

['red', 'blue', 'green', 'white']

In [31]:
color.insert(0,'orange')
print(color)

['orange', 'red', 'blue', 'green', 'white']

In [30]:
color.remove('orange')
print(color)

['red', 'blue', 'green', 'white']

In [37]:
t1 = (1,2,3) # 튜플을 생성
lst = list(t1) # 튜플을 lst 리스트로 변환
lst.append(4) #맨 마지막에 4를 추가
print(lst)
t1 = tuple(lst) # 리스트를 튜플로 변환
print(t1)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [33]:
print(t1[1])

2

In [41]:
dic1 ={'name':'홍길동','phone':'010-1234-1234', 'addr':'청주시 상당구'}
for key, value in dic1.items():
    print(key,value)

name 홍길동
phone 010-1234-1234
addr 청주시 상당구

In [43]:
s1 = set('hello')
print(s1)
s2 = set([1,2,3,3,4])
print(s2)

{'o', 'e', 'l', 'h'}
{1, 2, 3, 4}

In [47]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1 & s2)
print(s1 | s2)
print(s1 - s2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [48]:
a,b,c,d = 0,0,0,0
plus = 0

a = int(input('첫번째값을 입력하세요 :'))
b = int(input('두번째값을 입력하세요 :'))
c = int(input('세번째값을 입력하세요 :'))
d = int(input('네번째값을 입력하세요 :'))

plus = a + b + c + d

print('합계는 = ',plus)

첫번째값을 입력하세요 :10
두번째값을 입력하세요 :20
세번째값을 입력하세요 :30
네번째값을 입력하세요 :40
합계는 =  100

In [49]:
aa = [0,0,0,0]
plus = 0

aa[0] = int(input('첫번째값을 입력하세요 :'))
aa[1] = int(input('두번째값을 입력하세요 :'))
aa[2] = int(input('세번째값을 입력하세요 :'))
aa[3] = int(input('네번째값을 입력하세요 :'))


plus = aa[0] + aa[1] + aa[2] + aa[3]

print('합계는 = ',plus)

첫번째값을 입력하세요 :10
두번째값을 입력하세요 :20
세번째값을 입력하세요 :30
네번째값을 입력하세요 :40
합계는 =  100